<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-5">
    <% post.forEach(function(po){ %>
    <div class="cards flex flex-wrap gap-10 ">
        <div class="card w-36 text-white bg-zinc-700 rounded-lg overflow-hidden">
            <div class="w-full h-40 bg-sky-200
             rounded-lg overflow-hidden object-cover">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= po.postImage %>" alt="">
            </div>
            <h3 class="text-md mt-3">@<%= po.user.username %></h3>
             
            <h3 class="text-lg mt-3">Tile: <%= po.title %></h3>
            <h5 class="text-sm">Description :<%= po.description %></h5>
        </div>
        <% }) %>
    </div>
</div>

<% include ./partials/footer.ejs %>